.article {
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "text"
    "images-list";
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    @include sizes(100%, 100%);
    

    @media (max-width: 768px) {
        grid-template-areas:
            "title"
            "images-list"
            "text";
        row-gap: 40px;
        padding-left: 64px;
    }

    @media (max-width: 660px) {
        padding-left: 0;
        border-top: 1px solid var(--page-section-border-color);
    }
    
    &__title {
        grid-area: title;
        max-width: 460px;
        @include fontAttributes(55px, var(--text-color), 700, 60px);
        letter-spacing: -.5px;
        margin: 0;

        @media (max-width: 600px) {
            @include fontAttributes(32px, var(--text-color), 700, 40px);
            max-width: 284px;
            
            padding-top: 20px;
        }
    }

    &__text {
        grid-area: text;
        max-width: 460px;
        @include fontAttributes(18px, var(--another-text-color), 400, 28px);
        padding-bottom: 30px;

        @media (max-width: 600px) {
            max-width: 284px;
            @include fontAttributes(12px, var(--another-text-color), 400, 18px);
            padding-bottom: 40px;
        }
    }

    &__image-list {
        grid-area: images-list;
        @include sizes(100%, auto);
        @include flex(row, flex-start, stretch);
        position: relative;
        overflow: hidden;
    }

    &__image-list-item {
        margin-right: 40px;
        line-height: 0;

        @media (max-width: 768px) {
            margin-right: 140px;
        }
        @media (max-width: 600px) {
            margin-right: 40px;
        }
    }

    &__image-list-item:last-of-type {
        margin-right: 0px;
    }

    &__image {
        width: 650px;
        height: 400px;
        object-fit: contain;

        @media (max-width: 768px) {
            width: 565px;
            height: 357px;
        }

        @media (max-width: 600px) {
            @include sizes(284px, 204px);
        }
    }

    &__badge-case {
        position: absolute;
        left: 0;
        bottom: 16px;
        @include sizes(100px, 40px);
        
        @media (max-width: 600px) {
            @include sizes(70px, 28px);
            bottom: 29px;
        }
        
        &_mode {
            &_highway {
                background: 16px / 50px 16px no-repeat url(../images/highway-badge.svg),
                    no-repeat url(../images/badge-base.svg);
                @media (max-width: 600px) {
                    background: 8px / 35px 12px no-repeat url(../images/highway-badge.svg),
                    left / contain no-repeat url(../images/badge-base.svg);
                }
            }
            &_gravel {
                background: 16px / 50px 16px no-repeat url(../images/gravel-badge.svg), 
                    no-repeat url(../images/badge-base.svg);
                @media (max-width: 600px) {
                    background: 8px / 35px 12px no-repeat url(../images/gravel-badge.svg),
                    left / contain no-repeat url(../images/badge-base.svg);
                }
            }
            &_tt {
                background: 16px / 50px 16px no-repeat url(../images/tt-badge.svg), 
                    no-repeat url(../images/badge-base.svg);
                @media (max-width: 600px) {
                    background: 8px / 35px 12px no-repeat url(../images/highway-badge.svg),
                    left / contain no-repeat url(../images/badge-base.svg);
                }
            }

            
        }
    }
}