.coverings {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 60px;
    padding-left: 120px;
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding: 60px 18px;
    }
    &__slider {
        display: flex;
        transition: .2s;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        box-sizing: content-box;
    }

    &__buttons-group {
        position: absolute;
        top: unset;
        left: 120px;
        bottom: 60px;
        z-index: 2;

        @media (max-width: 768px) {
            left: 18px;
        }

        @media (max-width: 480px) {
            top: 90px;
            left: 248px;
        }
    }

    &__button:first-child {
        margin-right: 20px;

        @media (max-width: 480px) {
            margin-right: 10px;
        }
    }

    &__button:hover {
        opacity: .6;
    }
}