.container_s_medium {
    max-width: 1200px;
}

@media (max-width: 768px) {
    .container_s_medium {
        max-width: 768px;
    }
}

@media (max-width: 480px) {
    .container_s_medium {
        max-width: 320px;
    }
}