.container_s_medium {
    padding: 0 120px;
}

@media (max-width: 1200px) {
    .container_s_medium {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .container_s_medium {
        max-width: 768px;
        padding: 20px 18px 40px;
    }
}

@media (max-width: 480px) {
    .container_s_medium {
        max-width: 320px;
    }
}