.container_s_medium {
    max-width: 1200px;
}

@media (max-width: 1200px) {
    .container_s_medium {
        max-width: 768px;
        padding: 0 36px;
    }
}

@media (max-width: 600px) {
    .container_s_medium {
        max-width: 320px;
        padding: 0 18px;
    }
}