.workouts {
    display: grid;
    gap: 40px;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title image"
    "text image"
    "links image";
    padding-top: 150px;
    padding-bottom: 120px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "image"
        "text"
        "links";
    }

    &__title {
        grid-area: title;
        @include fontAttributes(55px, $baseTextColor, 700, 60px);
        letter-spacing: -.5px;
        max-width: 460px;
        margin: 0;

        @media (max-width: 480px) {
            @include fontAttributes(32px, $baseTextColor, 700, 40px);
            max-width: 284px;
            border-top: 1px solid $borderColor;
            padding-top: 20px;
        }
    }

    &__description {
        grid-area: text;
        @include fontAttributes(18px, $anotherTextColor, 400, 28px);

        @media (max-width: 480px) {
            @include fontAttributes(12px, $anotherTextColor, 400, 18px);
            max-width: 284px;
        }
    }

    &__links {
        grid-area: links;
        @include flex(row, flex-start, stretch);
    }

    &__links-item {
        margin-right: 30px;
    }

    &__link {
        @include fontAttributes(18px, $baseTextColor, 600, 28px);

        @media (max-width: 480px) {
            @include fontAttributes(14px, $baseTextColor, 600, 20px);
        }
    }

    &__link:hover {
        opacity: .75;
    }

    &__image {
        grid-area: image;
        max-width: 580px;
        @include sizes(100%, auto);
        object-fit: contain;

        @media (max-width: 480px) {
            @include sizes(284px, 204px);
            object-fit: cover;
        }
    }
}