@use "sass:map";

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $pageBackgroundColor;

    &__container {
        padding-top: 28px;
        padding-bottom: 28px;
        @include flex(row, flex-end, flex-start);
    }

    &__menu-button {
        display: none;

        @media (max-width: 660px) {
            display: block;
        }
    }

    &__menu {
        display: block;

        @media (max-width: 660px) {
            display: none;
        }
    }

    &__menu-list {
        @include flex(row, flex-start, stretch)
    }

    &__menu-item {
        margin-right: 34px;
    }

    &__menu-item:last-of-type {
        margin-right: 0;
    }

    &__link {
        text-align: right;
        @include fontAttributes(14px, $baseTextColor, 500, 18px)
    }

    &__link:hover {
        opacity: .6;
    }
}