.logo {
    @include sizes(38px, 38px);
    background-color: transparent;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}