.selector {
    -webkit-appearance: none;
    @include fontAttributes(11px, $baseTextColor, 600, 14px);
    min-width: 114px;
    padding: 8px 42px 8px 12px;
    justify-self: flex-start;
    border: 1px solid $selectBorderColor;
    border-radius: 2px;
    outline: none;
    background: url(../images/select-arrow.svg) no-repeat right;
    background-position-x: 92px;

    &__option {
        @include fontAttributes(11px, $baseTextColor, 600, 14px);
    }

    &__option:not(:checked) { 
        background-color: $pageBackgroundColor; 
    }
}