@mixin fontAttributes ($fam, $size, $color, $weight, $line-height) {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $line-height;    
}

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}