$pageBackgroundColor: #F4F4F4;
$footerBackgroundColor: #EFEFEF;

$borderColor: #E3E3E3;

$baseTextColor: #151515;
$anotherTextColor: #222222;
$copyrightColor: #CFCFCF;
$inputBorderColor: #C7C7C7;
$lineColor: #D7D4D4;



$buttonTextColor: #ffffff;
$buttonBackgroundColor: #24B47E;
$buttonHoverColor: #319E75;
$sliderBtnColor: #EBEBEB;
$menuButtonsColor: #151515;
