$pageBackgroundColor: #F4F4F4;
$footerBackgroundColor: #EFEFEF;


$baseTextColor: #151515;
$anotherTextColor: #222222;
$lineColor: #D7D4D4;



$buttonTextColor: #ffffff;
$buttonBackgroundColor: #24B47E;
$buttonHoverColor: #319E75;
$sliderBtnColor: #EBEBEB;
