.card {
    margin-right: 10px;
    border-radius: 20px;
        
    @media (max-width: 1200px) {
        margin-right: 0px;
        margin-bottom: 36px;
    }

    &__case {
        max-width: 380px;
        padding: 16px 0;
        margin: 0;
        background-color: transparent;
        @include flex(column, flex-start, flex-start);

        @media (max-width: 768px) {
            max-width: 284px;
            padding: 0;
            padding-bottom: 16px;
            background-color: var(--card-background);
            border-radius: 20px;
        }
    }

    &__image {
        max-width: 340px;
        padding: 20px;
        background-color: var(--card-background);
        border-radius: 20px;

        @media (max-width: 788px) {
            max-width: 254px;
            object-fit: contain;
            padding: 15px 15px 0;
        }
    }

    &__caption {
        @include fontAttributes(18px, var(--card-description-outside-color), 600, 22px);
        padding-left: 6px;
        padding-top: 22px;

        @media (max-width: 768px) {
            padding-top: 0;
            padding-left: 0;
            margin: 0 auto;
            @include fontAttributes(14px, var(--card-description-inside-color), 600, 18px);
            text-align: center;
        }
    }
}

.card:last-of-type {
    margin-right: 0px;
}