:root {
  --page-background: #f4f4f4;
  --page-section-border-color: #e3e3e3;
  --heading-color: #151515;
  --text-color: #151515;
  --another-text-color: #222222;
  --logo: url(../images/logo-light.svg);
  --toggler-background: #ffffff;
  --toggler-slider-color: #24b47e;
  --toggler-box-shadow: #ffffff;
  --toggler-sun-icon: url(../images/toggler-sun-light.svg);
  --toggler-moon-icon: url(../images/toggler-moon-light.svg);
  --buttons-color: #151515;
  --prev-next-btn-background: #ebebeb;
  --prev-btn-icon: url(../images/slider-btn-icon-prev-light.svg);
  --next-btn-icon: url(../images/slider-btn-icon-next-light.svg);
  --links-color: #151515;
  --learn-more-btn-background: #24b47e;
  --learn-more-btn-hover-background: #319e75;
  --learn-more-btn-color: #ffffff;
  --popup-menu-background: #f4f4f4;
  --slider-dot-color: #cacaca;
  --slider-active-dot-color: #151515;
  --header-background: #f4f4f4;
  --card-background: #f4f4f4;
  --card-description-inside-color: #151515;
  --card-description-outside-color: #151515;
  --card-description-line-color: #d7d4d4;
  --bikes-select-border-color: #e3e3e3;
  --bikes-option-background: #f4f4f4;
  --bikes-button-color: #222222;
  --bikes-selected-button-color: #151515;
  --footer-background: #efefef;
  --subscription-input-border: rgba(199, 199, 199, 0.5);
  --subscription-input-placeholder-color: #222222;
  --subscription-input-placeholder-hover-color: #151515;
  --copyright-color: #cfcfcf;
  }
  
  :root.theme-dark {
  --page-background: #333333;
  --page-section-border-color: #565656;
  --heading-color: #ffffff;
  --text-color: #ffffff;
  --another-text-color: #e5e5e5;
  --logo: url(../images/logo-dark.svg);
  --toggler-background: #545454;
  --toggler-slider-color: #24b47e;
  --toggler-box-shadow: #ffffff;
  --toggler-sun-icon: url(../images/toggler-sun-dark.svg);
  --toggler-moon-icon: url(../images/toggler-moon-dark.svg);
  --buttons-color: #ffffff;
  --prev-next-btn-background: #434343;
  --prev-btn-icon: url(../images/slider-btn-icon-prev-dark.svg);
  --next-btn-icon: url(../images/slider-btn-icon-next-dark.svg);
  --links-color: #ffffff;
  --learn-more-btn-background: #24b47e;
  --learn-more-btn-hover-background: #319e75;
  --learn-more-btn-color: #ffffff;
  --popup-menu-background: #333333;
  --slider-dot-color: #cacaca;
  --slider-active-dot-color: #ffffff;
  --header-background: #333333;
  --card-background: #f4f4f4;
  --card-description-inside-color: #151515;
  --card-description-outside-color: #ffffff;
  --card-description-line-color: #707070;
  --bikes-select-border-color: #e3e3e3;
  --bikes-option-background: #333333;
  --bikes-button-color: #ffffff;
  --bikes-selected-button-color: #e5e5e5;
  --footer-background: #2f2f2f;
  --subscription-input-border: rgba(125, 125, 125, 0.5);
  --subscription-input-placeholder-color: #ffffff;
  --subscription-input-placeholder-hover-color: #ffffff;
  --copyright-color: #565656;
}