@charset "UTF-8";
@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
/* сначала переменные, функции, миксины, потом блоки, элементы, модификаторы*/
.page {
  background-color: #F4F4F4;
  min-width: 320px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #151515;
}

.container {
  min-width: 284px;
  margin: 0 auto;
}

.container_s_small {
  max-width: 1200px;
}

.container_s_medium {
  max-width: 1200px;
}

@media (max-width: 768px) {
  .container_s_medium {
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .container_s_medium {
    max-width: 320px;
  }
}
.container_s_large {
  max-width: 1440px;
  padding: 20px 0 60px 120px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .container_s_large {
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .container_s_large {
    max-width: 480px;
    padding: 20px 18px;
  }
}

.button_assignment_menu {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 16px;
  background: repeating-linear-gradient(to bottom, #151515, #151515 3px, transparent 3px, transparent 6px);
}

.button_assignment_close {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 10px, #151515 10px, #151515 13px, transparent 13px, transparent 22px), repeating-linear-gradient(to right, transparent, transparent 10px, #151515 10px, #151515 13px, transparent 13px, transparent 22px);
  transform: rotate(-45deg);
}

.button_assignment_learn-more {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 1px;
  background-color: #24B47E;
  border-radius: 4px;
  width: 180px;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 560px) {
  .button_assignment_learn-more {
    width: 284px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    font-style: normal;
  }
}

.button_assignment_prev {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #EBEBEB;
  background-image: url("../images/slider-btn-icon-prev.svg");
  background-size: 7px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}
@media (max-width: 480px) {
  .button_assignment_prev {
    width: 24px;
    height: 24px;
    background-size: 4.5px 10px;
  }
}

.button_assignment_next {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #EBEBEB;
  background-image: url("../images/slider-btn-icon-next.svg");
  background-size: 7px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}
@media (max-width: 480px) {
  .button_assignment_next {
    width: 24px;
    height: 24px;
    background-size: 4.5px 10px;
  }
}

.button_assignment_accept {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  color: #151515;
  font-weight: 500;
  line-height: 27.98px;
  font-style: normal;
  text-align: right;
}

.text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #222222;
  margin: 0;
}
.text_opacity {
  opacity: 0.7;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #F4F4F4;
}
.header__container {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.header__menu-button {
  display: none;
}
@media (max-width: 660px) {
  .header__menu-button {
    display: block;
  }
}
.header__menu-button:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in;
}
.header__menu {
  display: block;
}
@media (max-width: 660px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.header__menu-item {
  margin-right: 34px;
}
.header__menu-item:last-of-type {
  margin-right: 0;
}
.header__link {
  text-align: right;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  color: #151515;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
}
.header__link:hover {
  opacity: 0.6;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s ease;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
.popup__container {
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  justify-items: center;
  padding: 74px 0 38px;
  background-color: #F4F4F4;
}
.popup__close-button {
  position: absolute;
  top: 30px;
  right: 20px;
}
.popup__close-button:hover {
  transform: rotate(120deg);
  transition: transform 2s linear 1s;
}
.popup__menu-list {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__menu-item {
  margin-bottom: 32px;
}
.popup__menu-item:last-of-type {
  margin-bottom: 0;
}
.popup__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  text-align: center;
}
.popup__link:hover {
  opacity: 0.75;
}

.lead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  gap: 50px 100px;
  grid-template-areas: "title image" "text image" "button image" "description image";
}
@media (max-width: 1200px) {
  .lead {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "image" "text" "button";
    row-gap: 40px;
  }
}
.lead__image {
  grid-area: image;
  position: relative;
  background-image: url(../images/lead-image-forestRoad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 610px;
  height: 836px;
}
@media (max-width: 1300px) {
  .lead__image {
    width: 520px;
    height: 728px;
  }
}
@media (max-width: 768px) {
  .lead__image {
    width: 480px;
    height: 672px;
  }
}
@media (max-width: 560px) {
  .lead__image {
    width: 254px;
    height: 348px;
    margin-left: 30px;
  }
}
.lead__title {
  grid-area: title;
  width: 460px;
  padding-top: 60px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 55px;
  color: #151515;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  letter-spacing: -0.5px;
}
@media (max-width: 560px) {
  .lead__title {
    padding-top: 20px;
    width: 284px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 32px;
    color: #151515;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
  }
}
.lead__text {
  grid-area: text;
  width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}
@media (max-width: 560px) {
  .lead__text {
    width: 284px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    color: #222222;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
  }
}
.lead__button {
  grid-area: button;
  padding: 16px 10px;
}
@media (max-width: 560px) {
  .lead__button {
    padding: 14px 0px;
  }
}
.lead__button::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#24B47E, #319E75);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  z-index: -1;
  transition: background-size 0.7s linear;
}
.lead__button:hover::before {
  background-size: 100% 100%;
}
.lead__slide-image {
  width: 440px;
  height: 300px;
  background-color: #F4F4F4;
  background-image: url(../images/canondale-systemsix.png);
  background-size: 340px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 370px;
  margin-top: 370px;
  margin-bottom: 79px;
  transform: translateX(-200px);
}
@media (max-width: 1080px) {
  .lead__slide-image {
    left: 230px;
    width: 380px;
    height: 260px;
    background-size: 280px;
  }
}
@media (max-width: 560px) {
  .lead__slide-image {
    position: absolute;
    top: 151px;
    left: 170px;
    width: 234px;
    height: 160px;
    background-size: 180px;
    margin-top: 0;
  }
}
.lead__slide-image-description {
  grid-area: description;
  margin-top: 117px;
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .lead__slide-image-description {
    display: none;
  }
}
.lead__slide-image-description::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 224px;
  background-color: #D7D4D4;
  width: 132px;
  height: 2px;
}

.excerption {
  display: grid;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr 470px;
  gap: 40px 80px;
  grid-template-areas: "image quote" "image caption";
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1200px) {
  .excerption {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "quote" "caption";
  }
}
.excerption__image {
  width: 100%;
  height: auto;
  max-width: 650px;
  -o-object-fit: contain;
     object-fit: contain;
  grid-area: image;
}
@media (max-width: 480px) {
  .excerption__image {
    width: 284px;
    height: 204px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
  }
}
.excerption__quote {
  width: 470px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 34px;
  color: #151515;
  font-weight: 600;
  line-height: 44px;
  font-style: normal;
  letter-spacing: -0.5px;
}
@media (max-width: 560px) {
  .excerption__quote {
    width: 284px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 23px;
    color: #151515;
    font-weight: 600;
    line-height: 29px;
    font-style: normal;
  }
}
.excerption__description {
  grid-area: caption;
  margin: 0;
}
.excerption__quote-author {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  color: #151515;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  padding-bottom: 6px;
  display: block;
}
@media (max-width: 560px) {
  .excerption__quote-author {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    color: #151515;
    font-weight: 500;
    line-height: 22px;
    font-style: normal;
    padding-bottom: 4px;
  }
}
.excerption__quote-subline {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  color: #222222;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  display: block;
}
@media (max-width: 560px) {
  .excerption__quote-subline {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 10px;
    color: #151515;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
  }
}

.coverings {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 60px;
  padding-left: 120px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .coverings {
    padding: 60px 18px;
  }
}
.coverings__slider {
  display: flex;
  transition: 0.2s;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
}
.coverings__buttons-group {
  position: absolute;
  top: unset;
  left: 120px;
  bottom: 60px;
  z-index: 2;
}
@media (max-width: 768px) {
  .coverings__buttons-group {
    left: 18px;
  }
}
@media (max-width: 480px) {
  .coverings__buttons-group {
    top: 90px;
    left: 248px;
  }
}
.coverings__button:first-child {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .coverings__button:first-child {
    margin-right: 10px;
  }
}
.coverings__button:hover {
  opacity: 0.6;
}

.article {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "text" "images-list";
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .article {
    grid-template-areas: "title" "images-list" "text";
    row-gap: 40px;
  }
}
.article__title {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 55px;
  color: #151515;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  letter-spacing: -0.5px;
  margin: 0;
}
@media (max-width: 480px) {
  .article__title {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 32px;
    color: #151515;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    max-width: 284px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
  }
}
.article__text {
  grid-area: text;
  max-width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  padding-bottom: 30px;
}
@media (max-width: 480px) {
  .article__text {
    max-width: 284px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    color: #222222;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    padding-bottom: 40px;
  }
}
.article__image-list {
  grid-area: images-list;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}
.article__image-list-item {
  margin-right: 40px;
  line-height: 0;
}
@media (max-width: 480px) {
  .article__image-list-item {
    margin-right: 18px;
  }
}
.article__image-list-item:last-of-type {
  margin-right: 0px;
}
.article__image {
  max-width: 650px;
  -o-object-fit: contain;
     object-fit: contain;
  /*@media (max-width: 700px) {
      max-width: 580px;
  }*/
}
@media (max-width: 480px) {
  .article__image {
    width: 284px;
    height: 204px;
  }
}
.article__badge-case {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100px;
  height: 40px;
}
@media (max-width: 480px) {
  .article__badge-case {
    width: 70px;
    height: 28px;
    bottom: 14px;
  }
}
.article__badge-case_mode_highway {
  background: 16px/50px 16px no-repeat url(../images/highway-badge.svg), no-repeat url(../images/badge-base.svg);
}
@media (max-width: 480px) {
  .article__badge-case_mode_highway {
    background: 8px/35px 12px no-repeat url(../images/highway-badge.svg), left/contain no-repeat url(../images/badge-base.svg);
  }
}
.article__badge-case_mode_gravel {
  background: 16px/50px 16px no-repeat url(../images/gravel-badge.svg), no-repeat url(../images/badge-base.svg);
}
@media (max-width: 480px) {
  .article__badge-case_mode_gravel {
    background: 8px/35px 12px no-repeat url(../images/gravel-badge.svg), left/contain no-repeat url(../images/badge-base.svg);
  }
}
.article__badge-case_mode_tt {
  background: 16px/50px 16px no-repeat url(../images/tt-badge.svg), no-repeat url(../images/badge-base.svg);
}
@media (max-width: 480px) {
  .article__badge-case_mode_tt {
    background: 8px/35px 12px no-repeat url(../images/highway-badge.svg), left/contain no-repeat url(../images/badge-base.svg);
  }
}

.bicycle-types {
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicycle-types__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  grid-template-areas: "title links-list" "cards cards";
  row-gap: 120px;
}
@media (max-width: 768px) {
  .bicycle-types__container {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "selector" "cards" "dots";
  }
}
.bicycle-types__selector {
  display: none;
}
@media (max-width: 660px) {
  .bicycle-types__selector {
    grid-area: selector;
    display: block;
  }
}
.bicycle-types__title {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 55px;
  color: #151515;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  letter-spacing: -0.5px;
  margin: 0;
}
.bicycle-types__links-list {
  grid-area: links-list;
  position: absolute;
  top: 92px;
  right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 660px) {
  .bicycle-types__links-list {
    display: none;
  }
}
.bicycle-types__list-item {
  margin-right: 40px;
}
.bicycle-types__list-item:last-of-type {
  margin-right: 0px;
}
.bicycle-types__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: right;
  opacity: 0.7;
}
.bicycle-types__link_active {
  font-weight: 600;
  opacity: 1;
}
.bicycle-types__link:hover {
  color: #222222;
  opacity: 0.7;
}
.bicycle-types__tabs {
  grid-area: cards;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.bicycle-types__cards-list {
  display: none;
}
.bicycle-types__cards-list_active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.selector {
  -webkit-appearance: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  color: #151515;
  font-weight: 600;
  line-height: 14px;
  font-style: normal;
  min-width: 114px;
  padding: 8px 42px 8px 12px;
  justify-self: flex-start;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  outline: none;
  background: url(../images/select-arrow.svg) no-repeat right;
  background-position-x: 92px;
}
.selector__option {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  color: #151515;
  font-weight: 600;
  line-height: 14px;
  font-style: normal;
}
.selector__option:not(:checked) {
  background-color: #F4F4F4;
}

.card {
  margin-right: 30px;
}
.card__case {
  max-width: 380px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card__image {
  max-width: 340px;
  padding: 20px;
  margin-bottom: 22px;
  background-color: #F4F4F4;
  border-radius: 20px;
}
.card__caption {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 600;
  line-height: 22px;
  font-style: normal;
}

.card:last-of-type {
  margin-right: 0px;
}

.workouts {
  display: grid;
  gap: 40px;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title image" "text image" "links image";
  padding-top: 150px;
  padding-bottom: 120px;
}
@media (max-width: 1200px) {
  .workouts {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "image" "text" "links";
  }
}
.workouts__title {
  grid-area: title;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 55px;
  color: #151515;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  letter-spacing: -0.5px;
  max-width: 460px;
  margin: 0;
}
@media (max-width: 480px) {
  .workouts__title {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 32px;
    color: #151515;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    max-width: 284px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
  }
}
.workouts__description {
  grid-area: text;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}
@media (max-width: 480px) {
  .workouts__description {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    color: #222222;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    max-width: 284px;
  }
}
.workouts__links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.workouts__links-item {
  margin-right: 30px;
}
.workouts__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 600;
  line-height: 28px;
  font-style: normal;
}
@media (max-width: 480px) {
  .workouts__link {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    color: #151515;
    font-weight: 600;
    line-height: 20px;
    font-style: normal;
  }
}
.workouts__link:hover {
  opacity: 0.75;
}
.workouts__image {
  grid-area: image;
  max-width: 580px;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  .workouts__image {
    width: 284px;
    height: 204px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  background-color: #EFEFEF;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  color: #CFCFCF;
  font-weight: 600;
  line-height: 19.59px;
  font-style: normal;
}
.footer__toggler {
  margin-right: 42px;
}
@media (max-width: 660px) {
  .footer__toggler {
    display: none;
  }
}
.footer__logo {
  display: none;
}
@media (max-width: 660px) {
  .footer__logo {
    display: block;
  }
}

.subscription__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  color: #151515;
  font-weight: 600;
  line-height: 32px;
  font-style: normal;
  max-width: 229px;
  margin-bottom: 50px;
}
.subscription__form {
  max-width: 360px;
  position: relative;
}
.subscription__input {
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  color: #222222;
  font-weight: 500;
  line-height: 27.98px;
  font-style: normal;
  box-sizing: border-box;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  padding: 11px 20px;
}
.subscription__input:hover::-moz-placeholder {
  color: #151515;
}
.subscription__input:hover:-ms-input-placeholder {
  color: #151515;
}
.subscription__input:hover::placeholder {
  color: #151515;
}
.subscription__input:focus::-moz-placeholder {
  opacity: 0;
}
.subscription__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.subscription__input:focus::placeholder {
  opacity: 0;
}
.subscription__button {
  position: absolute;
  top: 11px;
  right: 22px;
  visibility: hidden;
}
.subscription__input:focus + .subscription__button {
  visibility: visible;
}

.toggler {
  position: relative;
  width: 44px;
  height: 24px;
}
.toggler::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: -2px;
  left: -50px;
  background-image: url(../images/toggler-sun.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.toggler::after {
  content: "";
  width: 19.35px;
  height: 19.35px;
  position: absolute;
  top: 2px;
  right: -42px;
  background-image: url(../images/toggler-moon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.toggler__input {
  opacity: 0;
}
.toggler__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 9999px;
  transition: 0.4s;
  cursor: pointer;
}
.toggler__slider::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #24B47E;
  border-radius: 9999px;
  box-shadow: 0px 0px 0px #ffffff;
}
.toggler__input:checked + .toggler__slider::before {
  transform: translateX(20px);
}

.logo {
  width: 38px;
  height: 38px;
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */